
<button onclick="goBack()">Go Back</button>
<button ng-click="list()">List all image files from server (Click twice, please!)</button>
<script>
function goBack() {
    window.history.back();
}
</script>

<div style="margin:5em;">
<h2>Add a new album</h2>
<p style="color:red">{{message}}</p>
<!-- https://github.com/dfala/amazon-files
https://medium.com/@FalabellaDaniel/amazon-s3-file-upload-873b0b345089#.ce74esni5
http://www.joshsgman.com/upload-to-and-get-images-from-amazon-s3-with-node-js/ -->



    <img src="https://s3-us-west-2.amazonaws.com/glimpses/{{url.Key}}" ng-repeat="url in urls" style="width:150px;">


<!-- The Upload Form -->
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
          <form>
            <input type="text" name="" placeholder="Title" ng-model="newAlbum.title"><br>
            <input type="date" name="" ng-model="newAlbum.date"><br>
            <input type="text" name="" placeholder="Description" ng-model="newAlbum.description"><br>
            <input type="submit" class="btn btn-primary" ng-click="createAlbum(newAlbum)" value="Create album with one photo">
        </form>
        <br>
            <h3 class="panel-title">Upload The File</h3>
            <select class="fr" ng-model="sizeLimit">
              <option value="5292880">5MB Upload Limit</option>
              <option value="10585760">10MB Upload Limit</option>
              <option value="15878640">15MB Upload Limit</option>              
            </select>

          </div>
          <div class="panel-body">
            <input class="bottom-marg-15" type="file" name="file" file></input>
            <!-- Progress Bar -->
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{ uploadProgress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ uploadProgress }}%;">
                {{ uploadProgress == 0 ? '' : uploadProgress + '%' }}
              </div>
            </div>            
            <a class="btn btn-primary btn-block btn-lg" ng-click="upload()">This button will uploads an image to s3 server only, does not create new album</a>

          </div>
        </div>
      </div>     
    </div>




</div>
