<div id="header">
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/home"><img style="width:44px;height:38px"src="/static/img/logo.png" alt="logo"></a>Glimpses
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <!-- <ul class="nav navbar-nav navbar-left">
        <li><p>Glimpses</p></li>
    </ul> -->


      <ul class="nav navbar-nav navbar-right">
          <a href="#/album">album</a>
          <a href="#/favorite">favorite</a>
          <a href="#/meet">meet</a>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div> <!-- END OF HEADER -->

<div id="container">

    Dashboard home page
  <h4>Hello ****Group Name</h4>

  <form class="form-horizontal" role="form">
    <div class="form-group">
      <div class="col-sm-10">
        <input type="text" class="form-control" id="wallpost" placeholder="Enter wallpost" ng-model="newWallpost.text" >
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary pull-right" ng-click="createWallpost(newWallpost)">Submit</button>
      </div>
    </div>
  </form>

  <div ng-repeat="wallpost in wallposts | filter:filter">
    <a href="#">{{wallpost._user.first_name}} {{wallpost._user.last_name}} </a>
    <p>{{wallpost.text}}</p>
    <p>
      <a href="#/like">like</a> /
      <a href="#/wallpost/{{wallpost._id}}/new_comment">comment</a> /
      <button ng-click="addtoFavorites(wallpost)" ng-disabled="disableVote" class="btn btn-sm btn-info">favorite</button>
    </p>
  </div>

  <h4>&nbsp;</h4>
   <h4 style="text-align: center">json: <a href="/users">users</a> -
   <a href="/wallposts">wallposts</a> -
   <a href="/albums">albums</a> -
   <a href="/images">images</a> -
   <a href="/comments">comments</a> -
   <a href="/users/session">session</a></h4>
   <h4>&nbsp;</h4>
</div> <!-- END OF CONTAINER -->

<div id="footer">
    @2016
    <a href="#/about">About ourGlimpses</a>
    <a href="#/privacy">Privacy</a>
    <a href="#/term">Terms</a>
    <a href="#/faq">FAQ</a>
</div> <!-- END OF FOOTER -->
