<div id="header">
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/home"><img style="width:44px;height:38px"src="/static/img/logo.png" alt="logo"></a>Glimpses
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <!-- <ul class="nav navbar-nav navbar-left">
        <li><p>Glimpses</p></li>
    </ul> -->
      <ul class="nav navbar-nav navbar-right">
        <a href="#/">Back to Main</a>
        <!-- <div class="login"> -->
            <!-- Email: <input type="text" ng-model="email">
            Password: <input type="password" ng-model="password"> -->
            <!-- <p class="error" ng-if="errors">{{errors.message}}</p> -->
            <!-- <button class="btn btn-default" ng-click="login()">Login</button>
            <a href="#/register">New? Register Now!</a> -->
        <!-- </div> -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div><!-- END OF HEADER -->

FAQ

<div id="footer">
    @2016
    <a href="#/about">About ourGlimpses</a>
    <a href="#/privacy">Privacy</a>
    <a href="#/term">Terms</a>
    <a href="#/faq">FAQ</a>
</div> <!-- END OF FOOTER -->
