<<<<<<< HEAD
*{
    overflow: hidden;
}

=======
>>>>>>> 410a29b3a7f25e6ecd4f4c7563cf6fbf7adc7b4c
#header{
    height: 150px;
	width: 100%;
}

#header .login{
    display: inline-block;
    overflow: hidden;

}

#container{
    text-align: center;
}

#footer{
    display: inline-block;

}
