*{
    overflow: hidden;
}

#header{
    height: 150px;
	width: 100%;
}

#header .login{
    display: inline-block;
    overflow: hidden;

}

#container{
    text-align: center;
    background-color: #FF0000;
    overflow: hidden;
}

#footer{
    display: inline-block;

}
